<form
  #formRef="ngForm"
  (ngSubmit)="submit(formRef.value.query)"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="20px"
>
  <div fxFlex="20"></div>
  <div fxFlex="100">
    <mat-form-field fxFlex="100%">
      <mat-label>Search</mat-label>
      <input type="text" matInput [ngModel]="query" name="query" />
    </mat-form-field>

    <button mat-fab color="primary" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>
