<button mat-button [matMenuTriggerFor]="menu">Recent</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let query of queries | async"
    [routerLink]="['/music/search']"
    [queryParams]="{ q: query }"
  >
    <!-- (click)="search(query)"> -->
    {{ query }}
  </button>
</mat-menu>
