<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <!--  -->
  <sages-search-form
    fxFlex="100%"
    [query]="query | async"
    (search)="search($event)"
  >
  </sages-search-form>

  <!--  -->
  <div *ngIf="message | async as message">{{ message }}</div>
  <!-- <button (click)="show = !show">Show results</button> -->

  <div>Found {{ (results | async)?.length }} results</div>

  <sages-search-results fxFlex="100%" [results]="results | async">
  </sages-search-results>

  <!-- <ng-container *ngIf="results | async as albums">
  <div>Found {{ albums.length }} results</div>
  
  <sages-search-results fxFlex="100%" [results]="albums">
  </sages-search-results>
</ng-container> -->
</div>
